<nav>
	<div class="nav-wrapper">
		<ul>
			{{#if isHome}}
				<li class="active"><a href="/">Главная</a></li>
			{{else}}
				<li><a href="/">Главная</a></li>
			{{/if}}

			{{#if isProjects}}	
				<li class="active"><a href="/projects">Проекты</a></li>
			{{else}}
				<li><a href="/projects">Проекты</a></li>
			{{/if}}


			{{#if isAuth}}
				{{#if isAdd}}	
					<li class="active"><a href="/add">Добавить проект</a></li>
				{{else}}
					<li><a href="/add">Добавить проект</a></li>
				{{/if}}	
				{{#if isProfile}}	
					<li class="active"><a href="/profile">Профиль</a></li>
				{{else}}
					<li><a href="/profile">Профиль</a></li>
				{{/if}}
					<li><a href="/auth/logout">Выйти</a></li>
			{{else}}
				{{#if isLogin}}
					<li class="active"><a href="/auth/login">Войти</a></li>
				{{else}}
					<li><a href="/auth/login">Войти</a></li>
			{{/if}}
			{{/if}}
		</ul>
	</div>
</nav>